.navbar-default {
  background-color: #081c24 !important;
  border-color: #081c24 !important;
  height: 140px;
}

.navbar {
 border-radius: 0px !important;
}
.navbar {
  margin-bottom: 0px !important;
}