<footer class="page-footer font-small pt-4">

    <div class="container text-md-left">

      <div class="row">
        <div class="col-md-12">
          <h5 class="text-uppercase">Fast Shop Movies</h5>
        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Get Involved</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Add new movie</a>
              </li>
              <li>
                <a href="#!">Add new TV Show</a>
              </li>
              <li>
                <a href="#!">3rd party applications</a>
              </li>
              <li>
                <a href="#!">Contribution</a>
              </li>
            </ul>

          </div>

          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Legal</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Terms of use</a>
              </li>
              <li>
                <a href="#!">Privacy police</a>
              </li>
            </ul>

          </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="">fastshopmovies.com</a>
    </div>
  </footer>
